<table width="120%" align="center" border="0" cellspacing="0" cellpadding="20">
          
          <tbody>
		  <tr>
            <td width="25%">
              <img src="https://awaisrauf.github.io/images/logos/itu.png">
            </td>
            <td valign="top" width="75%">
              <p>
                <a href="https://arxiv.org/abs/1701.03077" data-external="true">
                  <h4> MS Electrical Engineering (Signal Processing and Machine Learning)</h4>
                </a>
                 MS Electrical Engineering (Signal Processing and Machine Learning) 
                <em>Submitted to 'Which-Must-Not-Be-Named'</em>, 2019
                <br>
                </p><p></p>
                <p>This paper proposes a novel approach to regularize the ill-posed and non-linear blind image deconvolution (blind deblurring) problem using deep generative networks</p>
            </td>
          </tr>
          </tbody>
</table>		  
  

          
              