@import "compass/css3";

.books {
  padding: 30px 0;
  text-align: center;
  img {
    display: inline-block;
    position: relative;
    z-index: 1;
    width: 100px;
    margin: 0 10px;
    @include transform(
      perspective(500px) rotateY(-22deg) translateZ(20px)
    );
    @include transition(all 0.2s ease);
    
    box-shadow:
      2px 0 -1px #ddd,
      4px 0 -2px white,
      6px 0 -3px #ddd,
      8px 0 -4px white,
      10px 0 -5px #ddd,
      12px 0 -6px white;
    
    &:hover {
      @include transform(
        perspective(500px) rotateY(0deg) translateZ(20px)
      );
      box-shadow: none;
    }
  }
}

.shelf {
  height: 100px;
  margin: -50px auto 0;
  @include transform(
    perspective(10px) rotateX(20deg)
  );
  @include background(
linear-gradient(rgba(black, 0.2), rgba(black, 0)),     url(http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/retina_wood_@2X.png));
  background-size: 100%, 512px;
}

body {
  background: url(http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/retina_wood_@2X.png);
  background-size: 512px;
  overflow: hidden;
}

// header font style
body {
  background: #1d1d1d;
}

.wrap {
  width: 765px;
  margin: 0 auto;
}

h1 {
  font-size: 8em;
  font-family: 'IM Fell Great Primer';
  position: relative;
  color: #fff;
  &:before {
    content: attr(data);
    position: absolute;
    left: -.03em;
    top: .03em;
    color: #ccc;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAFUlEQVQIW2NkQAKMIPZ/IGAEAWQZAE5lBATogF4qAAAAAElFTkSuQmCC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: -1;
  }
}